.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  touch-action: none;
  background: #090723;

  .chessboardWrap {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
  }

  :global {
    .ant-spin-nested-loading {
      position: relative;
      display: flex;
      flex: 1 1 auto;

      .ant-spin-container {
        position: relative;
        display: flex;
        flex: 1 1 auto;
      }
    }
  }
}
