.container ::-webkit-scrollbar {
  display: none;
}

.container {
  top: 5%;
  z-index: 10000;
  height: 55%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list {
  width: 400px;
}

.map {
  width: 100%;
  height: 30vh;
  margin-top: 10px;
}

.container2 {
  width: 400px;
  height: 30%;
}

.selected {
  background-color: green;
}

.buttonContainer {
  display: none;
}

.reportContainer {
  position: fixed;
  top: 61%;
  right: 1%;
  bottom: auto;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 679px) {
  .list {
    width: 260px;
  }
  .container {
    top: 1%;
    height: 30%;
  }
  .container2 {
    width: 80%;
  }
  .hint {
    display: none;
  }
  .buttonContainer {
    display: block;
  }
  .reportContainer {
    position: fixed;
    top: auto;
    right: 1%;
    bottom: 33%;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
  }
}
