/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
/.idea
.swc
yarn.lock
# Sentry Config File
.env.sentry-build-plugin

# Sentry Config File
.sentryclirc

# React Buddy
/src/dev

# Stockfish engine (only for local puzzle generation)
/engine
/backend/engine
