.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}
.select {
  position: absolute;
  top: 4rem;
  left: 20px;
  z-index: 1005;
  align-items: center;
  text-align: center;
  pointer-events: none;
  button,
  Button {
    background-color: black;
  }
}
.buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.customButton {
  margin: 0.25rem 0;
  background-color: black !important;
}
.inApp {
  top: 5rem;
}
.verson {
  position: absolute;
  right: 4px;
  bottom: 1px;
  z-index: 99999;
  font-size: 10px;
  opacity: 0.6;
}
