.wrapper {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  background-color: #090723;
  align-items: center;
  .segmented {
    div {
      font-size: 40px;
    }
  }

  .container {
      height: 100%;
      display: block;
      margin: auto;
      padding-bottom: 10rem;
      width: 1000px;
      max-width: 100%;
  }

  .header {
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    padding: 1rem 2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 679px) {
  .wrapper {
    .container {
      width: 90%;
    }
  }
}
