.status {
  --online-width: 3rem;

  position: absolute;
  right: 1rem;
  z-index: 1;
  margin-top: 1rem;
  background-color: #FF9427;
  border-radius: 35px;
  filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 40%));
  user-select: none;
  padding-inline: 1rem;
  min-width: 110px;

  .statistic {
    z-index: 100;
    padding-inline: 0.5rem;
    height: var(--online-width);
    line-height: var(--online-width);
    box-sizing: border-box;
  
    :global {
      .ant-statistic-content {
        display: flex;
        flex-direction: row;
        font-size: 1.25rem;
  
        .ant-statistic-content-prefix {
          display: flex;
          align-items: center;
          margin-inline-end: 8px;
          color: #ffd591;
        }
        
        .ant-statistic-content-value {
          display: flex;
          flex: 1 auto;
          justify-content: center;
          color: #FFF;
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }
  }  
}



@media only screen and (max-width: 679px) {
  .status {
    --online-width: 1.5rem;

    right: 0.5rem;
    padding-inline: 0.5rem;
    min-width: 60px;

    .statistic {
      padding-inline: 5px;
      padding-block: 1px;
    
      :global {
        .ant-statistic-content {
          .ant-statistic-content-prefix {
            font-size: 14px;
          }
          
          .ant-statistic-content-value-int {
            font-size: 14px;
          }
        }
      }
    }
  }
  .inApp {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 680px) and (max-width: 1019px) {
  .status {
    --online-width: 2rem;

    min-width: 8%;

    .statistic {
      padding-inline: 0.2rem;
    }
  }
}

