.segmentCell {
  padding: 0 0.5rem;
  div {
    margin: 0 0;
    padding: 0 0;
    line-height: 24px;
  }
}
.wrapper {
  .start {
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .startGame {
    align-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
  }

  .SegmentedType {
    margin-top: 25px;
    // color: #fadb14;
  }

  .rules {
    padding-top: 1rem;
    text-align: center;
  }

  .rank {
    margin-top: 48px;
  }

  .coming {
    margin: 12px;
    padding-top: 21px;
    text-align: center;
  }
}

@media only screen and (max-width: 679px) {
  .segmentCell {
    height: 100%;
    padding: 0 0rem;
    font-size: 14px;
    div {
      line-height: 16px;
    }
  }
}
