.container ::-webkit-scrollbar {
  display: none;
}

.container {
  left: 80%;
  z-index: 10000;
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list {
  width: 400px;
}

.map {
  width: 100%;
  height: 100%;
}

.mapContainer {
  height: 30%;
}

.selected {
  background-color: green;
}

.controlContainer {
  position: absolute;
  top: 50%;
  left: 60%;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50%;
  padding: 16px;
  overflow-y: auto;
}

.tag {
  .choosing {
    background-color: #d87a16;
  }
  .tagging {
    background-color: deepskyblue;
  }
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 679px) {
  .list {
    width: 260px;
  }
  .container {
    top: 1%;
    height: 30%;
  }
  .mapContainer {
    width: 80%;
  }
  .hint {
    display: none;
  }
}
