.challengeGameEndWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(9, 7, 35, 80%);
  backdrop-filter: blur(0.5rem);

  .challengeGameEndInner {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .challengeGameEndTitle {
      font-weight: 700;
      font-size: 2rem;
      text-shadow: 0 0 2px #b5f5ec, 0 0 2px #b5f5ec, 0 0 4px #b5f5ec,
        0 0 6px #13c2c2, 0 0 6px #13c2c2, 0 0 6px #13c2c2, 0 0 15px #13c2c2,
        0 0 15px #13c2c2;

      &.challengeGameEndTitleError {
        text-shadow: 0 0 2px #ffa39e, 0 0 2px #ffa39e, 0 0 4px #ffa39e,
          0 0 6px #f5222d, 0 0 6px #f5222d, 0 0 6px #f5222d, 0 0 15px #f5222d,
          0 0 15px #f5222d;
      }
    }

    .teamRank {
      max-height: 100%;
      padding-top: 5rem;
      padding-bottom: 10rem;
      overflow: scroll;
      scrollbar-width: none; /* 对于Firefox浏览器，隐藏滚动条 */
      -ms-overflow-style: none;
    }
    .teamRank::-webkit-scrollbar {
      display: none; /* 对于Webkit浏览器，隐藏滚动条 */
    }
    .challengeGameEndBottom {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 90;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 8rem;
      text-align: center;
      background: linear-gradient(
        to top,
        rgba(9, 7, 35, 100%) 0,
        rgba(9, 7, 35, 50%) 100%
      );
      box-shadow: 0 -1.5rem 3rem rgba(9, 7, 35, 60%);
      pointer-events: none;

      :global {
        padding-bottom: 1rem;
        pointer-events: all;
      }
    }
  }

  .winnerPlayer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    margin-block: 3rem 1rem;

    .hostBadge {
      color: #fff !important;
      font-weight: 700 !important;
      text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 80%);
      background-color: #fa8c16 !important;
      box-shadow: none !important;
      user-select: none;
    }
  }

  .avatarCover,
  .avatarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    background-size: cover;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  .avatarContainer {
    width: 5rem;
    height: 5rem;
    background: linear-gradient(
      180deg,
      #fa8c16 0,
      #4e371f 68.23%,
      #2a1f13 100%
    );
    box-shadow: 0 0 2rem rgba(250, 140, 22, 40%);
  }

  .userName {
    font-weight: 700;
    font-size: 1.25rem;
    text-shadow: 0.125rem 0.125rem rgb(255 255 255 / 30%);
    margin-block-start: 0.25rem;
  }
}

.avatarHealth {
  position: relative;
  z-index: 1000;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
