.inviteFriend {
}

.friend {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 5px 0;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
  span {
    font-size: 10px;
  }
}

//.partyInviteModal {
//  margin-top: 3rem;
//}
