.home {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background-color: #090723;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.homePage {
  z-index: 2;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100vh;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 0 2rem;

    .first {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);

      div {
        text-align: center;
      }

      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 0;
        color: #fff;
        font-size: 1.5rem;
        background-color: #395f8bdd;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: #fa8c16;
          outline: 2px solid #fa8c16;
          transform: scale(1.03);
          background-image: linear-gradient(135deg, #395f8bdd 0%, #2c4a6e 100%);
        }
      }
    }
  }
}

@media only screen and (max-width: 679px) {
  .homePage {
    .container {
      max-width: 90%;
      padding-top: 48px;

      .first {
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
