.wrapper {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  background-color: #090723;

  :global {
    .ant-pro-form-login-container {
      .ant-pro-form-login-main {
        width: auto !important;
        min-width: 300px;
      }

      .ant-pro-form-login-logo {
        width: 100px;
        height: auto;
        margin-inline-end: 0;
      }
    }
  }

  .registerLink {
    color: #fff;
    line-height: 1;
    text-decoration: underline;
    cursor: pointer;
  }
}
