.mapSwitch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #8c8c8c !important;
  display: none !important;

  &.mobile {
    top: 0.5rem;
    right: 4rem;
  }
}

@media only screen and (max-width: 679px) {
  .mapSwitch {
    top: 0.5rem;
    right: 4rem;
  }
}

