.partyInviteModal {
  :global {
    .ant-modal {
      .ant-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .ant-modal-close {
          width: 32px;
          height: 32px;

          .ant-modal-close-x {
            font-size: 24px;
            line-height: 32px;
          }
        }

        .ant-modal-header {
          margin-bottom: 0rem;
          background-color: transparent;
          border-bottom: none;

          .ant-modal-title {
            font-size: 2rem;
            text-align: center;
          }
        }

        .ant-modal-body {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          justify-content: center;
          max-width: 50rem;
          margin: 0 auto;
          box-shadow: none;
        }
      }
    }
  }
}

.inviteWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .qrMobileCode {
    display: none;
    margin-block-end: 1rem;
  }

  .inviteByCode {
    .inviteCode {
      margin-top: 1rem;
      p {
        display: flex;
        gap: 0.5rem;

        > span {
          color: #fa8c16;
          font-weight: 700;
          font-size: 2.4rem;
          font-family: 'Baloo Bhaina';
          line-height: 2.5rem;
          letter-spacing: 2px;
          vertical-align: middle;
        }

        em {
          color: #fa8c16;
          font-weight: 700;
        }
      }
    }
  }

  .shareQrCode {
    display: flex;
    gap: 1rem;

    .shareText {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      justify-content: center;
    }
  }

 
}
@media only screen and (max-width: 679px) {
  .partyInviteModal {
    .qrMobileCode {
      display: flex;
    }

    .qrCode {
      display: none;
    }

    :global {
      .ant-modal {
        .ant-modal-content {
          .ant-modal-header {
            margin-bottom: 0.5rem;

            .ant-modal-title {
              font-size:1rem;
            }
          }
        }
      }
    }

    .inviteWrapper {
      .inviteByCode {
        h2 {font-size: 16px;}
      }
      .shareQrCode {
        .shareText {
          h2 {font-size: 16px;}
        }
      }
    }
  }
}