.teamRank {
  margin-top: 2rem;
  .header,
  .user {
    display: flex;
    .rank {
      width: 10%;
    }
    .userName {
      width: 50%;
    }
    .scoreChange {
      width: 20%;
    }
    .score {
      width: 20%;
    }
    div {
      text-align: center;
    }
  }

  .header {
    div {
      color: #fa8c16;
    }
  }

  .user {
    margin-top: 5px;
  }

  .highlight {
    color: #22b14c;
    font-weight: bolder;
  }
}

.finish {
  .header,
  .user {
    .rank {
      width: 20%;
    }
    .userName {
      width: 70%;
    }
    .score {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 679px) {
  .teamRank {
  }
}
