.damageMultipleContianer {
  --ratio: 1;
  --height: 3rem;

  width: calc(var(--height) * var(--ratio));
  height: var(--height);

  .damageMultipleIcon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 46, 60%);
    filter: drop-shadow(0 0.3rem 0.3rem rgba(0, 0, 0, 40%));
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );

    .damageMultipleIconInner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      height: 90%;
      background-color: #1a1a2e;
      clip-path: polygon(
        30% 0%,
        70% 0%,
        100% 30%,
        100% 70%,
        70% 100%,
        30% 100%,
        0% 70%,
        0% 30%
      );

      p {
        display: block;
        position: absolute;
        font-weight: 700;
        font-size: 1.25rem;
        font-family: 'Baloo Bhaina';
        text-shadow: 0 0 1px #b5f5ec, 0 0 2px #b5f5ec, 0 0 2px #b5f5ec,
          0 0 4px #13c2c2, 0 0 6px #13c2c2, 0 0 6px #13c2c2, 0 0 15px #13c2c2,
          0 0 15px #13c2c2;
        margin-block: 0.25rem 0;
      }
    }
  }
}

@media only screen and (max-width: 1019px) {
  .damageMultipleContianer {
    --height: 2rem;

    .damageMultipleIcon {
      .damageMultipleIconInner {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

