.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 0.2rem;
  cursor: pointer;

  .hostBadge {
    color: #fff !important;
    font-weight: 700 !important;
    text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 80%);
    background-color: #fa8c16 !important;
    box-shadow: none !important;
    user-select: none;
    font-size: 1px;
  }
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}



.observer {
  .avatarContainer {
    .avatarCover {
    }
  }
  .userName {
    font-size: 8px;
  }
}


.userName {
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.avatarModal {
  :global {
    .ant-modal {
      width: 100% !important;

      .ant-modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //min-height: 80vh;
        background-color: transparent;

        .ant-modal-close {
          width: 32px;
          height: 32px;

          .ant-modal-close-x {
            font-size: 24px;
            line-height: 32px;
          }
        }

        .ant-modal-header {
          background-color: transparent;
          border-bottom: none;

          .ant-modal-title {
            font-size: 28px;
            text-align: center;
          }
        }

        .ant-modal-body {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          gap: 1rem;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          box-shadow: none;

          .ant-space {
            justify-content: space-around;
            gap: 1rem;
          }
        }

        .ant-modal-footer {
          .ant-space {
            width: 100%;
            text-align: center;
          }

          p {
            margin: 0.5rem 0 0;
            color: rgba(255,255,255, 40%);
      
            span {
              display: inline-block;
              border: 1px solid rgba(255,255,255, 40%);
              border-radius: 0.3125rem;
              font-weight: 400;
              margin: 0 0.25rem;
              padding-left: 0.25rem;
              padding-right: 0.3rem;
            }
          }
        }
      }
    }
  }

  .avatarContainer {
    width: 10rem;
    height: 10rem;
    margin-block-end: 2rem;

    .avatarCover {
      width: 9rem;
      height: 9rem;
    }
  }
}

@media only screen and (max-width: 679px) {

  .avatarModal {
    :global {
      .ant-modal {
        .ant-modal-content {
          .ant-modal-header {
            .ant-modal-title {
              font-size: 1rem;
            }
          }
        }
      }
    }

    .avatarContainer {
      .avatarCover {
      }
    }
  }
}