.wrapper {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding-bottom: 1rem;
  background-color: #090723;
  .contents {
    display: block;
    width: 40%;
    height: 100%;
    margin: auto;
  }
  .title {
    margin-top: 2rem;
    margin-bottom: 10px;
    color: lightgray;
    font-size: 16px;
  }

  .province {
    margin-top: 1rem;
    color: #fff;
    font-size: 14px;
  }

  .changeButton {
    margin-top: 10px;
  }

  .userNameContent {
    display: block;
    margin-bottom: 2rem;
    .jump {
      font-size: 14px;
    }
  }
  .avatarContainer {
    display: block;
    margin-top: 5rem;
    .upload {
      margin-top: 100px;
    }
  }
}

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 679px) {
  .wrapper {
    .contents {
      width: 90%;
    }
  }
}
