// style.less
.tableWrapper {
  width: calc(50% - 10px);
  margin-bottom: 20px; /* Adjust as needed */
}

.bigTableWrapper {
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .tableWrapper {
    width: 100%;
  }
}
